/* Add some css styles based on the tutorial at javascript.info: introduction to browser events
 https://javascript.info/introduction-browser-events */
body {
  padding: 10px;
  background-color: #5391d8;
}

.carousel {
  position: relative;
  width: 500px;
  height: 400px;
  margin-left: auto;
  margin-right: auto;
}


#left{
  left: 7px;
  position: absolute;
  top: 60px;
  padding: 0;
  display: block;
  justify-content: center;
  border-radius: 15px;
  border: 1px solid gray;
  font-size: 25px;
  line-height: 25px;
}
#right {
  right: 7px;
  position: absolute;
  top: 60px;
  padding: 0;
  display: block;
  justify-content: center;
  border-radius: 15px;
  border: 1px solid gray;
  font-size: 25px;
  line-height: 25px;
}
.con {
  width: 390px;
  overflow: hidden;
}
.con ul {
  height: 130px;
  width: 99999px;
  margin: 0;
  padding: 0;
  list-style: none;
  transition: margin-left 250ms;
  font-size: 0;
}